.Bowlimage{
    margin:250 auto 250 auto;


}

.Thirdcontainer {
  background-color: #4AB7A9;
    height: 500px;

    padding: 100px 30px;
width: 100%;
margin: 0 auto;
width: fullscreen;


}
.Flower{ width: 25%; height: auto;

  float: right;

      width: 260px;margin-right: 0px;
}


  a{
         cursor: url("sremmingfrog.jpg"), url("custom.cur"), default;
     }


     img {
       width: 100%;
       display: block;
     }
