
.Secondcontainer{display: inline-block;}

.Bowlimage{

    margin:250 auto 250 auto;

    height: 500px;
    width: 800px;

}


.head{ height: auto;  width: auto;}
.mask{height: auto;  width: auto;}
.socks{height: auto;  width: auto;}





.Thirdcontainer {
  background-color: #4AB7A9;
    height: 600px;

    padding: 100px 30px;
width: 100%;
margin: 0 auto;
width: fullscreen;


}
.Flower{ width: 35%; height: auto;

  float: right;

      width: 300px;margin-right: 0px;
}
.Roll{height: auto;  width: auto;}


  a{
         cursor: url("sremmingfrog.jpg"), url("custom.cur"), default;
     }


     img {
       width: 100%;
       display: inline-block;
     }
